.grid {
  grid-template-columns: repeat(4, 1fr);
}

.featuredGrid {
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid,
  .featuredGrid {
    grid-template-columns: 1fr;
  }
}
